# 1. 强行开启核心虚拟终端（拯救被禁用的 VT）
CONFIG_VT=y
CONFIG_VT_CONSOLE=y

# 2. 强行开启帧缓冲控制台
CONFIG_FRAMEBUFFER_CONSOLE=y

# 3. 强行让高通 DRM 驱动模拟出老式 FB 接口（高通 845 亮机的核心！）
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_FBDEV_OVERALLOC=100

# 4. 确保企鹅标志依然全开
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_LOGO_LINUX_CLUT224=y
